<div class="modal" id="answer-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Answer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for :answer, url: '/answers', html: { class: 'form-horizontal'} do %>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" name="email" class="form-control" id="InputEmail" placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <label for="answerarea">Answer</label>
            <textarea class="form-control" name="answer_body" id="InputAnswer" placeholder="Enter your answer..." required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
